@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 3px 0px 3px 0px;
}

h2 {
    @apply text-2xl font-semibold;
}
h3 {
    @apply text-xl font-semibold mt-2;
}
h4 {
    @apply text-lg font-semibold;
}
h5 {
    @apply text-base font-semibold;
}
h6 {
    @apply text-base font-semibold;
}

/* Num list */
ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    
}
ol li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2.5em;
    margin: .5em 0;
    background: #f6eedb;
    color: #444;
    text-decoration: none;
    @apply rounded-md;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
}
ol li:hover {background: #E9E4E0;}
ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.4em;
    top: 40%;
    margin-top: -1em;
    background: #c5e4db;
    height: 2.4em;
    width: 2.4em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}
/* End num list */

 /* Marked list */
ul {
    list-style: none;
    border-left: 10px solid #ec7554;
    padding: 0;
}
ul li {
    @apply rounded-md;
    padding: .4em;
    text-decoration: none;
}
ul li:nth-child(odd) {background: #f6eedb;}
ul li:nth-child(even) {background: white;}
ul li:hover {background: #E9E4E0;}
/* End marked list */

/* Blockquote */
/* https://html5book.ru/krasivoe-oformlenie-citat-na-sayte/ */
div blockquote {

    background: linear-gradient(135deg, #F6EEDB 50%, #F4FEF9 50%);
    text-align: center;
    position: relative;
    color: #49152C;
    @apply rounded-md p-5 m-3;
    }
div blockquote p {
    font-family: 'Caveat', cursive;
    @apply text-[18px] mt-[30px] m-3;
}
div blockquote p:before {
    content: "\201C";
    font-size: 70px;
    color: #EA6844;
    font-family: serif;
    position: absolute;
    top: 0px;
    left: 30px;
    transform: translateX(-50%);
}
div blockquote p:after {
        content: "\201D";
        font-size: 70px;
        color: #EA6844;
        font-family: serif;
        position: absolute;
}
/* End blockquote */

/* iframe */
p>iframe{
    @apply my-4;
    max-width: 80vw;
}

@media (min-width: 768px) {
    p>iframe{
        @apply mt-2 mb-2;
        max-width: 50vw;
    }
}

@media (min-width: 878px) {
    p>iframe{
        @apply mt-2 mb-2;
        max-width: 40vw;
    }
}
/* End iframe */

/* pre */
pre{ 
    font-family: 'Caveat', cursive;
    white-space: pre-wrap;
    @apply bg-[#f6eedb] p-3 rounded-md m-3;
}
/* end pre */

/* Link */
p>a, ol li>a, ul li>a{
    color:#bd1ead;
    border-bottom: 1px solid;
}
p>a::before, ol li>a::before, ul li>a::before{
    content: '[';
    transform: translateX(20px);
}
p>a::after, ol li>a::after, ul li>a::after{
    content: ']' !important;
    transform: translateX(-20px);
}

p>a::before, p>a::after, ol li>a::before, ol li>a::after, ul li>a::before, ul li>a::after{
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

p>a:hover::before, p>a:hover::after, p>a:focus::before, p>a:focus::after,
ol li>a:hover::before, ol li>a:hover::after, ol li>a:focus::before, ol li>a:focus::after,
ul li>a:hover::before, ul li>a:hover::after, ul li>a:focus::before, ul li>a:focus::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

p>a:hover, ol li>a:hover, ul li>a:hover{
    opacity: 1;
    border-bottom: none;
}
/* End Link */


/* Table */

table {
	width: 100%;
	border: none;
    @apply my-4;
    
}

table tbody tr th {
	font-weight: bold;
	text-align: left;
	border: none;
	background: #d8d8d8;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;

    
}
table tbody tr td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	vertical-align: top;

}
table thead tr th:first-child, table tbody tr td:first-child {
	border-left: none;
}
table thead tr th:last-child, table tbody tr td:last-child {
	border-right: none;
}
table tbody tr:nth-child(even){
	background: #f6eedb;
}


/* End table */